table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


tr td
{
    background-color: #fff;
}


tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even)
{
    background-color: #ddd;
    
 
   
}


.center {
margin-left: auto;
  margin-right: auto;

}

td {

width: 50px;
height: 50px;
text-align:center;
}

td > div {
font-size:30px;

}

td > img:hover {
  cursor:pointer;
  font-size:40px;
}
.timers {
	width: 100px;
	border: 5px solid black;
	text-align: center;
	cursor:pointer;
}



